@charset "utf-8";
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.header{
    width: 100%;
    height: 910px;
    background: url(../background.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header .header-list{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-list .list-wrap{
    max-width: 1859px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-list .list-wrap .logo img{
    width: 100%;
}
.header .header-list .list-wrap .nav ul{
    display: flex;
    width: 960px;
    justify-content: space-between;
}
.header .header-list .list-wrap .nav ul li{
    cursor: pointer;
}
.header .header-list .list-wrap .etc ul{
    display: flex;
    width: 105px;
    justify-content: space-between;
}
.header .header-list .list-wrap .etc ul li:nth-child(1){
    position: relative;
    color: #888;
}
.header .header-list .list-wrap .etc ul li:nth-child(1)::after{
    position: absolute;
    content: "";
    top: 34%;
    right: -60%;
    width: 1px;
    height: 11px;
    background-color: #888;
}

.header .side-nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 99;
    top: -900px;
    /* top: 0; */
}
.header .side-nav.on{
    top: 0;
}
.header .side-nav .nav-wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    padding-top: 120px;
    padding-left: 300px;  
    font-size: 0.95em;
    padding-bottom: 100px;
}
.header .side-nav .nav-wrap ul{
    line-height: 30px;
}
.header .side-nav .nav-wrap ul li a{
    color: #fff;
}
.header .side-nav .nav-wrap ul:nth-child(1){
    margin-left: 25px;
    margin-right: 52px;
}
.header .side-nav .nav-wrap ul:nth-child(2){
    margin-right: 50px;
}
.header .side-nav .nav-wrap ul:nth-child(3),
.header .side-nav .nav-wrap ul:nth-child(4){
    margin-right: 95px;
}
.header .side-nav .nav-wrap ul:nth-child(5){
    margin-right: 95px;
}

.header .header-wrap{
    width: 1550px;
    margin: 0 auto;
    padding-top: 310px;
    /* padding-left: 137px; */
}
.header .header-wrap ul{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 2px;
    position: relative;
}
.header .header-wrap ul::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #ed1c24;
    top: -48px;
    left: 0;
}
.header .header-wrap ul li:nth-child(3){
    font-size: 21px;
    margin-top: 22px;
    font-weight: 300;
    letter-spacing: 0;
}
.header .scroll{
    margin-left: 50%;
    margin-top: 280px;
}
.header .scroll .btn_scroll{
    width: 33px;
    height: 33px;
    border-radius: 30px;
    background: url(../img/icon.png) no-repeat;
    background-position: -123px -1px;
    font-size: 0px;
    border: 1px solid #ddd;
    vertical-align: middle;
    cursor: pointer;
}

.content{
    width: 100%;
}
.content .section1{
    width: 100%;
}
.content .section1 .section1-wrap{
    width: 1200px;
    margin: 0 auto;
}
.content .section1 .title{
    text-align: center;
}
.content .section1 .title span{
    display: inline-block;
    position: relative;
    padding-bottom: 22px;
    padding-top: 100px;
    color: #111;
    font-size: 45px;
    /* text-align: center; */
    font-weight: bold;
}
.content .section1 .title span::after{
    content: "";
    position: absolute;
    width: 37px;
    height: 4px;
    background-color: #f00;
    left: 49%;
    bottom: 7%;
}
.content .section1 .title p:nth-child(1){
    margin-top: 25px;
    letter-spacing: normal;
}

.content .section1 .nav{
    display: flex;
    justify-content: space-between;
    padding: 133px 0;
}
.content .section1 .nav .nav-img{
    position: relative;
    width: 240px;
    height: 420px;
    background: url(../img/img_business.png) no-repeat;
    background-position: 0 0;
    padding-top: 98px;
    box-sizing: border-box;
    text-align: center;
    transition: all .2s;
}
.content .section1 .nav-img:hover{
    background-color: rgb(255, 162, 0);
    z-index: 99;
    background-image: none;
}
.content .section1 .nav .nav1:hover div {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bg_common.png) no-repeat;
    background-position: -168px 0px;
    width:123px; height:112px;
}
.content .section1 .nav .nav2:hover div {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bg_common.png) no-repeat;
    background-position: -301px 0px;
    width:123px; height:112px;
}
.content .section1 .nav .nav3:hover div {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bg_common.png) no-repeat;
    background-position: 0px -122px;
    width:130px; height:106px;
}
.content .section1 .nav .nav4:hover div {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bg_common.png) no-repeat;
    background-position: -140px -122px;
    width:130px; height:111px;
}
.content .section1 .nav .nav5:hover div {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bg_common.png) no-repeat;
    background-position: -280px -122px;
    width:103px; height:103px;
}
.content .section1 .nav .nav-img:nth-child(2){
    background-position: -240px 0;
}
.content .section1 .nav .nav-img:nth-child(3){
    background-position: -480px 0;
}
.content .section1 .nav .nav-img:nth-child(4){
    background-position: -720px 0;
}
.content .section1 .nav .nav-img:nth-child(5){
    background-position: -960px 0;
}
.content .section1 .nav .nav-img span{
    font-size: 24px;
    color: #fff;
}

.content .section2{
    width: 100%;
    display: flex;
}
.content .section2 .notice{
    width: 50%;
    background-color: #ed1c24;
    padding-left: 20%;
    padding-right: 10%;
    box-sizing: border-box;
    padding-top: 45px;
}
.content .section2 .news{
    width: 50%;
    padding-top: 45px;
    background-color: #58595b;
    padding-right: 20%;
    padding-left: 10%;
    box-sizing: border-box;
}
.content .section2 .txt{
    width: 499px;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.content .section2 span{
    font-size: 32px;
    color: #fff;
}
.content .section2 ul{
    margin-top: 40px;
}
.content .section2 ul li{
    color: #fff;
    padding: 24px 0;
    position: relative;
    cursor: pointer;
    /* padding-right: 110px; */
}
.content .section2 ul li a{
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 79%;
    display: inline-block;
}
.content .section2 ul li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 30%;
    background-color: #e77277;
    right: 18%;
}
.content .section2 .news ul li::after{
    background-color: #737475;
}
.content .section2 .notice ul li{
    border-bottom: 1px solid #e77277;
}
.content .section2 .notice ul li:nth-child(1){
    border-top: 1px solid #e77277;
}
.content .section2 .news ul li{
    border-bottom: 1px solid #737475;
}
.content .section2 .news ul li:nth-child(1){
    border-top: 1px solid #737475;
}

.content .section3{
    width: 100%;
    background-color: #f8f8f8;

}
.content .section3 .section3-wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0 100px;
    display: flex;
}
.content .section3 .faq{
    width: 599px;
    height: 200px;
    background: url(../bg_faq.png) no-repeat 90% center #fff;
}
.content .section3 .customer{
    width: 599px;
    height: 200px;
    background: url(../bg_custom.png) no-repeat 90% center #fff;
}
.content .section3 .wrap{
    padding: 40px 56px;
}
.content .section3 .wrap ul li:nth-child(1){
    font-size: 30px;
    /* font-family: 'NotoSansMedium'; */
    margin-bottom: 15px;
}
.content .section3 .wrap ul li:not(:nth-child(1)){
    color: rgb(144, 134, 134);
}

.content .section4{
    width: 100%;
}
.content .section4 .section4-wrap{
    width: 1200px;
    margin: 98px auto;
}
.content .section4 .about{
    background: url(../img_about.png) no-repeat 90% center;
    background-color: #fff;
    height: 370px;
}
.content .section4 .about span{
    font-size: 44px;
    font-weight: bold;
    color: #111;
    padding-top: 25px;
    position: relative;
}
.content .section4 .about span::after{
    content: "";
    position: absolute;
    width: 37px;
    height: 5px;
    background: #ed1c24;
    left: 0;
    bottom: -75%;
}
.content .section4 .about ul{
    padding-top: 40px;
    padding-left: 100px;
}
.content .section4 .about ul li:nth-child(1),
.content .section4 .about ul li:nth-child(2){
    font-size: 21px;
    color: #111;
}
.content .section4 .about ul li:nth-child(2){
    margin-bottom: 20px;
}
.content .section4 .about ul li:nth-child(3),
.content .section4 .about ul li:nth-child(4),
.content .section4 .about ul li:nth-child(5),
.content .section4 .about ul li:nth-child(6){
    font-size: 15px;
    color: rgb(144, 134, 134);
}

.content .section4 .sec4-icon{
    text-align: center;
}
.content .section4 .sec4-icon ul{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.content .section4 .sec4-icon ul li{
    width: 103px;
    height: 108px;
    background: url(../bg_icon2.png) no-repeat;
    background-position: 0 0;
    padding-top: 130px;
}
.content .section4 .sec4-icon ul li span{
    font-size: 22px;
    font-family: 'NotoSansMedium';
    color: #111;
}

.footer{
    background: #4e4e4e;
}
.footer .footer-wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}
.footer .logo{
    flex-basis: 122px;
    background: url(../logo_footer.png) no-repeat;
    padding-right: 135px;
}
.footer ul{
    color: #c3c3c3;
    font-size: 13px;
    line-height: 1.8;
}